{% extends 'base.html' %}

{% set is_create = (view_type == 'create') %}
{% block title %}
  {{ last_name|capitalize }} {{ name|capitalize }} {{ patronymic|capitalize }} |
  {% if is_create %}Добавление{% else %}Редактирование{% endif %} ТО
{% endblock %}

{% block content %}
  <h1 class="fs-xl d-flex flex-column align-items-center mb-4">

    {% if company_image %}
      <div class="photo mb-3">
        <img src="data:image/jpeg;base64,{{ company_image }}"
             alt="Изображение компании: {{ company_name }}">
      </div>
    {% endif %}
    <div class="btn-group mb-3">
      <a href="/companies/equipment-informations?company_id={{company_id}}&equipment_id={{equipment_id}}"
          class="btn btn-outline-secondary label-text fw-bold"
        style="border-width: 3px;">🔙 Вернуться назад</a>
      <a href="/companies/company?company_id={{company_id}}"
          class="btn btn-outline-dark label-text fw-bold"
        style="border-width: 3px;">🏠 На главную</a>
    </div>
    {% if is_create %}Добавление{% else %}Редактирование{% endif %} записи о тех. обслуживании
  </h1>

  <div class="card p-4 mb-5">
    <form
      method="{% if is_create %}POST{% else %}PUT{% endif %}"
      action="
      {% if is_create %}
        /companies/api/equipment-informations/create?company_id={{company_id}}&equipment_id={{equipment_id}}&type_verif=maintenance
      {% else %}
        /companies/api/equipment-informations/update?company_id={{company_id}}&equipment_id={{equipment_id}}&equipment_info_id={{equipment_info.id}}
      {% endif %}">

      <div class="mb-3">
        <label for="date_from" class="form-label label-text"><b>Дата ТО</b></label>
        <input type="date"
               id="date_from"
               name="date_from"
               class="form-control input-text text-center"
               value="{{ equipment_info.date_from|strftime('%Y-%m-%d') if not is_create else '' }}">
      </div>

      <div class="mb-3">
        <label for="date_to" class="form-label label-text"><b>ТО до</b></label>
        <input type="date"
               id="date_to"
               name="date_to"
               class="form-control input-text text-center"
               value="{{ equipment_info.date_to|strftime('%Y-%m-%d') if not is_create else '' }}">
      </div>

      <div class="mb-3">
        <label for="info" class="form-label label-text"><b>Описание</b></label>
        <input type="text"
               id="info"
               name="info"
               class="form-control input-text text-center"
               value="{{ equipment_info.info if not is_create else '' }}"
               required>
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-success label-text fw-bold"
        style="border-width: 3px;">
          ✅ Сохранить
        </button>
      </div>
  </form>
</div>

<script>
  window.companyId = {{ company_id }};
  window.equipmentId = {{ equipment_id }};
  window.isCreate = {{ is_create|tojson }};
  {% if not is_create %}
  window.equipmentInfoId = {{ equipment_info.id }};
  {% endif %}
</script>
<script type="module" src="/static/company/equipment_informations/js/update_or_create_m.js"></script>

{% endblock %}